
.fixTop {
  background-color: $c-primary;
  color: $c-white;
  height: auto;
  padding: 13px 3%;
  top: 0;
  width: 94%;
  z-index: 10;
  text-align: center;

  @media screen and (min-width: $view-tablet) {
    height: 24px;
    position: fixed;
    text-align: left;
  }

}

.actionCall {
  margin: -4px 0 8px 0;
  width: 100%;

  @media screen and (min-width: $view-tablet) {
    margin-bottom: 0;
    width: auto;
  }
}

.rightMenu {
  width: 100%;

  @media screen and (min-width: $view-tablet) {
    width: auto;
  }
}

.topMenu {
  list-style-type: none;
  overflow: hidden;
  width: 100%;

  @media screen and (min-width: $view-tablet) {
    width: auto;
    float: left;
  }  

  li {

    height: 23px;
    padding: 4px 0;

    @media screen and (min-width: $view-tablet) {
      float: left;
      margin: 0 4px;
      padding: 0;
    }

    a {
      color: $c-white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

  }
}

.langs {
  position: relative;

  @media screen and (min-width: $view-tablet) {
    float: left;
    margin: 4px 0 0 12px;

    &:hover {
      ul {
        display: block;
      }
    }
  }
    

  p {
    display: none;

    @media screen and (min-width: $view-tablet) {
      display: block;
      cursor: pointer;
      padding-bottom: 4px;
    }
  }

  ul {
    
    background-color: $c-primary;
    display: inline-block;

    @media screen and (min-width: $view-tablet) {
      display: none;
      padding-bottom: 6px;
      position: absolute;
      top: 23px;
      right: -5px;
      width: 70px;
    }

    li {
      cursor: pointer;
      list-style-type: none;
      float: left;
      padding: 4px;
      text-align: center;

      @media screen and (min-width: $view-tablet) {
        float: none;
        text-align: right;  
      }      

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-split {
    @media screen and (min-width: $view-tablet) {
      display: none;
    }    
  }

}
