
.iconSocial {
  background: url(../img/sprites.png) no-repeat;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.iconTwitter {
  background-position: -9px -5px;
}
.iconLinkedin {
  background-position: -42px -5px;
}
.iconGoogle {
  background-position: -76px -5px;
}
.iconFacebook {
  background-position: -108px -5px;
}
.iconYoutube {
  background-position: -386px 3px;
}

.areapersonal, .biblioteca, .buscar, .correo, .phone, .social {
	background: url(../img/sprites.png) no-repeat;
  display: inline-block;
  margin: 0 4px;
}

.areapersonal {
	background-position: -348px 0;
  width: 22px;
  height: 19px;
  position: relative;
  top: 3px;
}

.biblioteca {
	background-position: -250px 0;
	width: 25px;
  height: 20px;
  position: relative;
  top: 2px;
}

.buscar {
	background-position: -302px 0;
	width: 21px;
	height: 20px;
}

.correo {
	background-position: -200px 0;
	width: 22px;
	height: 19px;
	top: 6px;
	position: relative;
}

.phone {
	background-position: -156px -3px ;
	width: 22px;
	height: 22px;
	top: 7px;
  position: relative;
}

.social {
	background-position: 0 -1px ;
	width: 152px;
	height: 35px;
}

